<section class="hero relative h-96">
    <div class="absolute inset-0">
        <div class="img absolute inset-0 z-0 ">
            <img src="/cart/cart-hero.jpg" alt="Cart Section image" class="w-full h-full object-cover">
        </div>

        <div class="overlay absolute bg-black/40 inset-0 z-10"></div>
    </div>

    <div class="content flex flex-col items-center justify-center absolute inset-0 z-20 text-white">
        <h1 class="title text-5xl md:text-6xl font-bold mb-4">Canon EOS 5D</h1>
        <p class="text-xl md:text-2xl opacity-80">Experience culinary perfection in every bite</p>
    </div>
</section>

<section class="item-details">
    
</section>