.auth-container{
    background-image: url('../../../../public/pattern_2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    background-size: 250px;         
    min-height: 100vh;
    width: 100%;
    background-color: #f8f5f0;

}