
<div class="w-[500px] bg-white border border-gray-200 rounded-lg shadow-sm rounded-xl ">
    <div class="bg-orange-500 px-20 py-4 rounded-t-md">
        <h1 class="text-[24px] leading-[30px]  font-medium text-white  text-center">Sign up </h1>
    </div>

    <div>
            <div class="facebook bg-[#3B5998] mx-7 my-2 flex flex-row gap-3 justify-center items-center py-2 text-white cursor-pointer hover:bg-[#5a80d1] transition delay-150 duration-300 ease-in-out">
                <div class="icon pl-2 flex justify-center items-center"><i class="fa-brands fa-square-facebook text-[24px]"></i></div>
                <div class="mx-auto"><p>Sign up with Facebook</p></div>
            </div>

            <div class="google bg-[#444444] mx-7 flex flex-row gap-3 text-white py-2  cursor-pointer hover:bg-[#757272] transition delay-150 duration-300 ease-in-out">
                <div class="icon pl-2 flex justify-center items-center"><i class="fa-brands fa-google text-white text-[24px]"></i></div>
                <div class="mx-auto "><p>Sign up with Google</p></div>
            </div>

    </div>
    
    <div class="mt-3 flex flex-row items-center justify-center">
        <div class="thin-line bg-gray-100 w-[40%] h-[2px]"></div>
        <span class="px-2">or</span>
        <div class="thin-line bg-gray-100 w-[40%] h-[2px]"></div>
    </div>
    
    <div class="py-8 px-8">
        <form class="space-y-6" [formGroup]="signupForm" (ngSubmit)="submitForm()">
            <div>

                @let nameControl = signupForm.get('name');

                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your name</label>
                <input formControlName="name" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="First and Last name" required />
                
                @if(nameControl?.errors && nameControl?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(nameControl?.getError('required')){
                                <li>Name is required</li>
                              }
                              @else if (nameControl?.getError('minlength')) {
                                <li>Name min length: 3</li>
                              }
                              @else if (nameControl?.getError('maxlength')) {
                                <li>Name max length: 20</li>
                              }
                              
            
                          </ul>
                        </div>
                      </div>
                }
            
            </div>
            <div>
                @let emailControl = signupForm.get('email');

                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                <input formControlName="email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required />
                
                @if(emailControl?.errors && emailControl?.touched ){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(emailControl?.getError('required')){
                                <li>Email is required</li>
                              }
                              @else if (emailControl?.getError('email')) {
                                <li>Email is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
                }
            
            </div>
            <div>
                @let passwordControl = signupForm.get('password');

                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                <input formControlName="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                
                @if(passwordControl?.errors && passwordControl?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(passwordControl?.getError('required')){
                                <li>password is required</li>
                              }
                              @else if (passwordControl?.getError('pattern')) {
                                <li>password is not valid, must has:</li>
                                <li>At least 1 capital character</li>
                                <li>At least 1 special character</li>
                                <li>At least 1 digit</li>
                                <li>At least 7 characters</li>
                              }
                          </ul>
                        </div>
                      </div>
                }
            
            </div>

            <div>
                <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">confirm password</label>
                <input formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
            
                @if(signupForm.getError("mismatch") && signupForm.get("rePassword")?.touched){
                        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                                <li>password is not match!</li>
                
                          </ul>
                        </div>
                      </div>
                }
            
                @if(signupForm.getError('required') && signupForm.get('rePassword')?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                                <li>password is required</li>
                
                          </ul>
                        </div>
                      </div>
                  }
            </div>

            <div>
                @let phoneControl = signupForm.get('phone');

                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                <input formControlName="phone" type="text" name="phone" id="phone" placeholder="Your Phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  />

                @if(phoneControl?.errors && phoneControl?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(phoneControl?.getError('required')){
                                <li>phone is required</li>
                              }
                              @else if (phoneControl?.getError('pattern')) {
                                <li>phone is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
                }
            </div>

            <div>
                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                <input formControlName="address" type="text" name="address" id="address" placeholder="Your address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  />
            </div>

            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Register your account</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                registered? <a routerLink="/signin"   class="text-blue-700 hover:underline dark:text-blue-500 cursor-pointer"> Sign in </a>
            </div>
        </form>
    </div>

</div>


