<section class="hero h-screen overflow-hidden">




    <owl-carousel-o [options]="heroSlider">
        <ng-template carouselSlide>
            <div class="relative h-[100vh]">
                <div class="absolute inset-0 bg-black opacity-40 z-10"></div>

                <div class="img w-full h-full z-0 object-cover">
                    <img src="/main-slider/slider3.jpg" alt="restaurant slide 1" class="w-full h-full object-cover">

                </div>

                <!-- Text Content on Top -->
                <div
                    class="absolute inset-0 z-20 flex flex-col items-center justify-center text-white text-center px-4">
                    <h1 class="text-4xl md:text-6xl font-bold mb-4">Welcome to Tasty-Fork</h1>
                    <p class="text-lg md:text-xl max-w-xl">
                        Discover the best meals and tasty dishes from our rich menu!
                    </p>
                    <button
                        class="mt-6 bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-6 rounded-lg">
                        Explore Menu
                    </button>
                </div>


            </div>
        </ng-template>



        <ng-template carouselSlide>
            <div class="relative h-[100vh]">
                <!-- Overlay -->
                <div class="absolute inset-0 bg-black opacity-40 z-10"></div>

                <div class="img w-full h-full z-0 object-cover">
                    <img src="/main-slider/slider7.jpg" alt="restaurant slide 1" class="w-full h-full object-cover">
                </div>

                <div
                    class="absolute inset-0 z-20 flex flex-col items-center justify-center text-white text-center px-4">
                    <h1 class="text-4xl md:text-6xl font-bold mb-4">Your Cozy Dining Spot</h1>
                    <p class="text-lg md:text-xl max-w-xl">Relax and enjoy unforgettable meals in a warm, welcoming
                        place.</p>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="relative h-[100vh]">
                <div class="absolute inset-0 bg-black opacity-40 z-10"></div>
                <div class="img w-full h-full z-0 object-cover">
                    <img src="/main-slider/slider1.jpg" alt="restaurant slide 1" class="w-full h-full object-cover">
                </div>

                <div
                    class="absolute inset-0 z-20 flex flex-col items-center justify-center text-white text-center px-4">
                    <h1 class="text-4xl md:text-6xl font-bold mb-4">Taste the Difference</h1>
                    <p class="text-lg md:text-xl max-w-xl">Savor expertly crafted dishes from fresh ingredients every
                        day.</p>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="relative h-[100vh]">
                <div class="absolute inset-0 bg-black opacity-40 z-10"></div>
                <div class="img w-full h-full z-0 object-cover">
                    <img src="/main-slider/slider5.jpg" alt="restaurant slide 1" class="w-full h-full object-cover">
                </div>
                <div
                    class="absolute inset-0 z-20 flex flex-col items-center justify-center text-white text-center px-4">
                    <h1 class="text-4xl md:text-6xl font-bold mb-4">Fresh From the Farm</h1>
                    <p class="text-lg md:text-xl max-w-xl">We use the freshest organic ingredients to bring you real
                        flavor.</p>
                </div>
            </div>
        </ng-template>




    </owl-carousel-o>
</section>

<!-- categories-start  -->
<section class="categories bg-[#F4F4F4] py-16">
    <div class="container text-center mx-auto">
        <h2 class="section-head">Popular Categories</h2>
        <p class="desc pb-5">Explore our diverse food categories to discover delicious meals tailored to every taste.
            Whether you're craving something spicy, sweet, or savory — we have something for everyone!</p>

        <owl-carousel-o [options]="categoriesSlider" class="py-5">
            @for(category of categoriesArr; track category.id ){
            <ng-template carouselSlide>
                <div class="card bg-white py-16 px-8 m-4 flex flex-col justify-center items-center">
                    <div class="img flex justify-center items-center">
                        <img [src]="category.image_url" [alt]="category.name" class="w-full">
                    </div>

                    <h4 class="py-3">{{category.name}}</h4>
                    <p class="dish-desc">{{category.description}}</p>
                </div>
            </ng-template>
            }

        </owl-carousel-o>

    </div>

</section>
<!-- categories-end  -->

<!-- bestseller-start  -->
<section class="bestseller bg-white py-16">
    <div class="container text-center mx-auto">
        <h2 class="section-head">Best Selling Dishes </h2>
        <p class="desc pb-5">Discover the most loved and frequently ordered items by our
            customers. These popular picks are sure to satisfy your cravings!</p>

        <div class="grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">

            @for (item of bestSellerArr; track item.id) {

            <div class="item bg-[#DBEAED] flex flex-col gap-3 items-center py-10 ">
                <div class="image w-[200px] pb-5">
                    <img [src]="item.image_url" alt="" class="w-full rounded-xl">
                </div>

                <span class="font-medium text-[17px] leading-[20px] text-[#333] hover:text-orange-600 hover:cursor-pointer"> {{ item.category_name }} </span>
                <h4 class="hover:text-orange-600 hover:cursor-pointer" >{{item.name}}</h4>
                <span class="font-normal text-[20px] leading-[20px] text-[#333]">{{item.price| currency:'EGP'}}</span>
                <button class="mt-6 bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-16 cursor-pointer uppercase  ">Add To Cart</button>
            </div>

            }


        </div>
    </div>
</section>
<!-- bestseller-end  -->