<section class="hero ">
  <owl-carousel-o [options]="customMainSlider">
            <ng-template carouselSlide>
        <div>
            <div class="img">
                <img src="/main-slider/slider5.jpg" alt="restaurant slide 1">
            </div>
        </div>
    </ng-template>



        <ng-template carouselSlide>
        <div>
            <div class="img">
                <img src="/main-slider/slider7.jpg" alt="restaurant slide 1">
            </div>
        </div>
    </ng-template>

    <ng-template carouselSlide>
        <div>
            <div class="img">
                <img src="/main-slider/slider1.jpg" alt="restaurant slide 1">
            </div>
        </div>
    </ng-template>

    <ng-template carouselSlide>
        <div>
            <div class="img">
                <img src="/main-slider/slider3.jpg" alt="restaurant slide 1">
            </div>
        </div>
    </ng-template>




  </owl-carousel-o>
</section>