// categories-start

.section-head{
    position: relative;
    font-family: "EB Garamond", serif;
    font-size: 2.5rem;
    color: black;
    font-weight: 500;
}

.section-head::before{
    content:"";
    width:10%;
    height: 2px;
    background-color: #E1E1E1;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    
}

.desc{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.23rem;
    color: #444;
}

.categories .card{
    min-height: 350px;
    max-height: 350px;
    border-radius: 8px;
    overflow: hidden;   
    
}

.categories .card:hover{
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.categories .img{
    width: 200px;
    height: 200px;
     
}

.categories img{
    border-radius: 50%;  
}

.categories h4{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.dish-desc{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #444;
}

// categories-end