/* You can add global styles to this file, and also import other style files */

//tailwind
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


//flowbite
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

//ng-owl
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}